@media screen and (max-width: 700px) {
  .content {
    .boxes {
      height: 100%;
    }
    &__box {
      text-align: center;
      width: 100%;
      h2 {
        font-weight: bold;
        line-height: 45px;
      }
      p {
        letter-spacing: 1px;
        line-height: 20px;
      }
    }
    &__sidebar {
      opacity: 0;
      width: 0;
      height: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 700px) {
  .content {
    &__sidebar {
      width: 300px;
      opacity: 1;
    }
  }
}