// width

$max-width: 800px;
$mim-width: 500px;
$sidebar-width: 300px;

//height

$header-footer-height: 50px; 

//colors

$outside-color: #eee;
$inside-color: #fff;

$header-footer-border-color: #999;
$sidebar-left-border-color: #ccc;